@model ASP_SPR311.Data.Entities.Product

<div class="col">
	<a class="nav-link text-dark h-100" asp-controller="Shop" asp-action="Product" asp-route-id="@(Model.Slug ?? Model.Id.ToString())">
		<div class="card h-100">
			<img src="/Shop/Image/@(Model.ImagesCsv.Split(',').First())" alt="Image" class="card-img-top"/>
			<div class="card-body">
				<div class="card-fab" data-cart-product-id="@Model.Id"><i class="bi bi-cart-plus"></i></div>
				<h5 class="card-title">@Model.Name</h5>
				<p class="card-text">@Model.Description</p>
			</div>
			<div class="card-footer">
				₴ @Model.Price.ToString("0.00"), На складі - @Model.Stock шт
			</div>
		</div>
	</a>
</div>
