@{
	ViewData["Title"] = "Razor";
}

<div class="text-center">
	<h1 class="display-4">Синтаксис Razor</h1>
</div>

<p>
	<b>Razor</b> - технологія розширення HTML-розмітки до інструментарію
	мови програмування. Доповнення засобів HTML змінними, виразами (у т.ч. 
	що містить змінні), умовами та циклами. Основним символом, що позначає 
	Razor-вставки - є <code>"&commat;"</code>, відповідно, сам символ слід 
	замінювати на HTML-сутність <code>&amp;commat;</code>. Виняток становлять
	правильно сформовані E-mail адреси на кшталт <code>user@i.ua</code>
</p>

<h2>
	Вирази
</h2>
<p>
	Вирази (expressions) - це інструмент (instructions), що мають результат. Razor - вирази передбачають
	включення результату у склад HTML розмітки у тому місці, де вони зазначені.
	Вираз оформлюється як <code>&commat;(вираз)</code>, наприклад, 
	<code>&commit;(2 + 3) = @(2 + 3)</code>
</p>

<h2>
	Інструкції
</h2>

<p>
	Інструкції (statements) зазвичай відокремлюють від виразів саме відсутністю 
	результатів. Їх оформлюють у блоки <code>&commat;{ statements }</code>. У такий
	спосію також оголошуються змінні
</p>

<pre>
	&commat;{
		String[] strings = { "String1", "String2", "String3", "String4", "String5" };
	}
</pre>

@{
	String[] strings = { "String1", "String2", "String3", "String4", "String5" };
}
<p>
	Виведення змінних можна здійснювати фомрі виразів - без круглих дужок:
	<code>&commat;strings[0] = &commat;(strings[0]) = @strings[0]</code>. Але
	додавання операторів вже вимагатиме дужки<br/>
	<code>&commat;strings[0] + "!" = @strings[0] + "!"</code><br />
	<code>&commat;(strings[0] + "!) = @(strings[0] + "!")</code>
</p>

<h2>
	Інструкції управління
</h2>

<p>
	До інструкції розгалуження управління (control instruction) належать інструкції разналуження
	(if / if-else / switch) та інстркції повторення (for / foreach / while / do-while)
</p>
@if(strings.Length > 3)
{
	int lim = 3;
	<b>Розмір масиву strings більший за 3</b>
}
else
{
	<b>Розмір масиву strings НЕ більший за 3</b>
}

<ul>
	@foreach(String str in strings)
	{
		if(str.EndsWith('3'))
		{
			<li>@(str + "!!")</li>
		}
		else
		{
			<li>@str</li>
		}
	}
</ul>
<h2>Загальні рекомендації</h2>
<p>
	Засобами Razor слід лише забезпечувати 
	Засобами Razor слід лише забезпечувати відображення даних з моделі, що приходить
	до предаставлення, не використовувати звернення до файлів, БД, змінних оточення
	чи інших програмних змінних, сервісі тощо.
</p>